/*
---------------------------------------------
Project: Chrome Frame	
CSS: Core Style Sheet

Author:	Lofty Word (http://www.loftyword.com)
            __          __           __
-----------/ /\--------/ /\---------/ /\-----
----------/ / /-------/ / /--------/ / /-----
---------/ / /-------/ / /--__----/ / /------
--------/ / /-------/ / /--/ /\--/ / /-------
-------/ / /-------/ / /--/ / /-/ / /--------
------/ /_/____---/ /_/--/ /_/-/ / /---------
-----/________/\-/______________/ /----------
-----\________\/-\______________\/-----------

--------------------------------------------- 
*/


/*------------------------------------------------------------------*/
/* Resets SECTION START  - Based on Eric Meyer reset, trimmed down. */
/*------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
font-size: 100%;
line-height: normal;
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/* Main Layout SECTION START*/
/*------------------------------------------------*/
html { -webkit-text-size-adjust:none; margin: 0px; padding: 0px; }
body { font-size: 62.5%; }

body {
font-family: Helvetica, Arial, Verdana, sans-serif;
color: #666;
padding: 0px;
margin: 0px;
background: #ececec;
}

img { max-width: 100%; }

#MainContainer { margin: 0px 20px; }


/*------------------------------------------------*/
/* Chrome Framer SECTION START*/
/*------------------------------------------------*/
.ChromeContainer {
position: relative;
text-align: center;
margin: 20px auto;
}

.Chrome {
position: relative;
display: inline-block;
text-align: left;
max-width: 960px;
background: green;

border-radius: 10px;
box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.ChromeBar {
position: relative;
padding: 10px 10px 5px 10px;
border: 1px solid #b6afaf;
border-bottom: 1px solid #a9a3a3;

background: #e9e9e9;
background: -moz-linear-gradient(top,  #ffffff 0%, #e9e9e9 5%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#e9e9e9), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );

border-radius: 6px 6px 0px 0px;
overflow: hidden;
}

.ChromeBar div { float: left; }

.ChromeBar a { 
display: inline-block;
margin-right: 5px;
padding: 12px 12px;
border: 1px solid transparent;

border-radius: 5px;
}

.ChromeBar a:hover { box-shadow: 0px 1px 0px rgba(255,255,255,0.3); }

.ChromeBar .Back a { background: url(../images/chrome-bar-sprites.png) 5px 4px no-repeat; }
.ChromeBar .Next a { background: url(../images/chrome-bar-sprites.png) -22px 4px no-repeat ; }
.ChromeBar .Refresh a { background: url(../images/chrome-bar-sprites.png) -51px 4px no-repeat ; }

.ChromeBar .Back a:hover {
border: 1px solid #cbcbcb;
background: #e9e9e9 url(../images/chrome-bar-sprites.png) 5px 4px no-repeat;
background: url(../images/chrome-bar-sprites.png) 5px 4px no-repeat, -moz-linear-gradient(top,  #ffffff 0%, #e9e9e9 5%, #cccccc 100%);
background: url(../images/chrome-bar-sprites.png) 5px 4px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#e9e9e9), color-stop(100%,#cccccc));
background: url(../images/chrome-bar-sprites.png) 5px 4px no-repeat, -webkit-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: url(../images/chrome-bar-sprites.png) 5px 4px no-repeat, -o-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: url(../images/chrome-bar-sprites.png) 5px 4px no-repeat, -ms-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: url(../images/chrome-bar-sprites.png) 5px 4px no-repeat, linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
}

.ChromeBar .Next a:hover {
border: 1px solid #cbcbcb;
background: #e9e9e9 url(../images/chrome-bar-sprites.png) -22px 4px no-repeat;
background: url(../images/chrome-bar-sprites.png) -22px 4px no-repeat, -moz-linear-gradient(top,  #ffffff 0%, #e9e9e9 5%, #cccccc 100%);
background: url(../images/chrome-bar-sprites.png) -22px 4px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#e9e9e9), color-stop(100%,#cccccc));
background: url(../images/chrome-bar-sprites.png) -22px 4px no-repeat, -webkit-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: url(../images/chrome-bar-sprites.png) -22px 4px no-repeat, -o-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: url(../images/chrome-bar-sprites.png) -22px 4px no-repeat, -ms-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: url(../images/chrome-bar-sprites.png) -22px 4px no-repeat, linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
}

.ChromeBar .Refresh a:hover {
border: 1px solid #cbcbcb;
background: #e9e9e9 url(../images/chrome-bar-sprites.png) -51px 4px no-repeat;
background: url(../images/chrome-bar-sprites.png) -51px 4px no-repeat, -moz-linear-gradient(top,  #ffffff 0%, #e9e9e9 5%, #cccccc 100%);
background: url(../images/chrome-bar-sprites.png) -51px 4px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#e9e9e9), color-stop(100%,#cccccc));
background: url(../images/chrome-bar-sprites.png) -51px 4px no-repeat, -webkit-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: url(../images/chrome-bar-sprites.png) -51px 4px no-repeat, -o-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: url(../images/chrome-bar-sprites.png) -51px 4px no-repeat, -ms-linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
background: url(../images/chrome-bar-sprites.png) -51px 4px no-repeat, linear-gradient(top,  #ffffff 0%,#e9e9e9 5%,#cccccc 100%);
}

.ChromeBar .Back a:active {
border: 1px solid #999;
background: #bebebe url(../images/chrome-bar-sprites.png) 5px 4px no-repeat;
box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
}

.ChromeBar .Next a:active {
border: 1px solid #999;
background: #bebebe url(../images/chrome-bar-sprites.png) -22px 4px no-repeat;
box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
}

.ChromeBar .Refresh a:active {
border: 1px solid #999;
background: #bebebe url(../images/chrome-bar-sprites.png) -51px 4px no-repeat;
box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
}

.ChromeContent {
position: relative;
border: 1px solid #a4a0a0;
border-top: 0px;
border-radius: 0px 0px 6px 6px;
}

.ChromeContent img { max-width: 100%; vertical-align: bottom; border-radius: 0px 0px 6px 6px; }

@-moz-document url-prefix() {
	
	.ChromeContent img { width: 100% }
}